@model GoFit.Models.user_workout

<h2>Brag Feed</h2>

<div id="bragFeed" class="scroll-img">
    <ul>
        <li>exInfo 1</li>
        <li>exInfo 2</li>
        <li>exInfo 3</li>
        <li>exInfo 1</li>
        <li>exInfo 2</li>
        <li>exInfo 3</li>
        <li>exInfo 1</li>
        <li>exInfo 2</li>
        <li>exInfo 3</li>
        <li>exInfo 1</li>
        <li>exInfo 2</li>
        <li>exInfo 3</li>
        <li>exInfo 1</li>
        <li>exInfo 2</li>
        <li>exInfo 3</li>
    </ul>
</div>
<div class="text-center" id="bragFeed-btn">
    <button class="btn" id="bragFeed-backward"></button>
    <button class="btn" id="bragFeed-forward"></button>
</div>

<script type="text/javascript">
    $('#bragFeed').scrollbox({
        direction: 'h',
        distance: 140
    });
    $('#bragFeed-backward').click(function () {
        $('#bragFeed').trigger('backward');
    });
    $('#bragFeed-forward').click(function () {
        $('#bragFeed').trigger('forward');
    });
</script>