
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="well col-xs-12 catch-all-err-container">
        <h1 class="text-danger">Error</h1>
        <p class="text-danger">An error occurred while processing your request. Please try again or contact our support team</p>
    </div>
</div>
