<div class="modal-body">

    @using (Html.BeginForm("AddWorkoutRating", "WorkoutRating", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal well">
            <label class="control-label col-md-8 col-md-offset-2">Please, rate this workout:</label>
            <div class="form-group">                
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem { Text = "1", Value = "1" });
                    listItems.Add(new SelectListItem { Text = "2", Value = "2" });
                    listItems.Add(new SelectListItem { Text = "3", Value = "3" });
                    listItems.Add(new SelectListItem { Text = "4", Value = "4" });
                    listItems.Add(new SelectListItem { Text = "5", Value = "5" });
                    listItems.Add(new SelectListItem { Text = "6", Value = "6" });
                    listItems.Add(new SelectListItem { Text = "7", Value = "7" });
                    listItems.Add(new SelectListItem { Text = "8", Value = "8" });
                    listItems.Add(new SelectListItem { Text = "9", Value = "9" });
                    listItems.Add(new SelectListItem { Text = "10", Value = "10", Selected = true });
                }
                @Html.DropDownList("rating", listItems, null, 
                                    new { @class = "rating_drop_down col-md-4 col-md-offset-4" })
                <input id="workout_id" name="workout_id" type="hidden" value="@Model.id" />
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <div class="row">
                    <button type="submit" id="approve-btn"
                            class="btn btn-primary">
                        Rate
                    </button>
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        No, thanks
                    </button>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>