<div class="modal-body">

    @using (Html.BeginForm("AddWorkoutRating", "WorkoutRating", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal well">
            <label class="control-label col-md-8 col-md-offset-2">Please, rate this workout:</label>
            <div class="form-group">
                <input id="rating" name="rating" class="col-md-8 col-md-offset-2" type="text" />
                <input id="workout_id" name="workout_id" type="hidden" value="@Model.id" />
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <div class="row">
                    <button type="submit" id="approve-btn"
                            class="btn btn-primary">
                        Rate
                    </button>
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        No, thanks
                    </button>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>