@model GoFit.Models.exercise

<div class="col-md-8 col-xs-12 exercise_detail well" >
    <div class="row">
        <div class="exercise_detail_header">@Model.name</div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 exercise_label"><h4><span class="label label-default">Description</span></h4></div>
        <div class="col-md-8 col-sm-12 exercise_prop">@Html.DisplayFor(model => model.description)</div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 exercise_label"><h4><span class="label label-default">YouTube link</span></h4></div>
        <div class="col-md-8 col-sm-12 exercise_prop"><a href=@Model.link target="_blank">@Model.link</a></div>
    </div>
    <div>
        <iframe class="col-md-12 col-sm-12 exercise_video" width="640" height="400" src = "@ViewBag.videoLink" frameborder="0"></iframe>
    </div>
    
</div>