@model GoFit.Models.exercise

<div class="col-md-8 col-xs-12 workout_detail well" >
    <div class="row">
        <div class="workout_detail_header">@Model.name</div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 workout_label"><h4><span class="label label-default">Description</span></h4></div>
        <div class="col-md-8 col-sm-12 workout_prop">@Html.DisplayFor(model => model.description)</div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 workout_label"><h4><span class="label label-default">YouTube link</span></h4></div>
        <div class="col-md-8 col-sm-12 workout_prop"><a href=@Model.link target = "_blank">@Model.link</a></div>
    </div>
    <div>
        <iframe width="640" height="385" src=@Model.link.Replace("watch?v=", "embed/") frameborder="0"></iframe>
    </div>
    

</div>