@{
    ViewBag.Title = "Admin Home";
}

<h2>GoFit Administrator Home</h2>
<hr />
<div>
    @Html.ActionLink("List Categories", "Index", "AdminCategories")<br /><br />
    @Html.ActionLink("List Exercises", "Index", "AdminExercises")<br /><br />
    @Html.ActionLink("List Types", "Index", "AdminTypes")<br /><br />
    @Html.ActionLink("List Workouts", "Index", "AdminWorkouts")
</div>

