div.search_inputs {
    width: 100%;
}
div.search_inputs > div {
    margin-top: 5px;
}

div.pagination_container {
    text-align: center;
}

table.workout_list {
    table-layout: fixed;
    height: 250px;
}

div.button_bar {
    margin: 10px 5px;
}
div.workout_prop {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.workout_label > h4 > span {
    margin-right: 20px;
}

div.exercise_list,
div.workout_detail {
    margin-top: 20px;
}

div.workout_detail_header {
    margin: 10px;
    margin-top: 5px;
    padding: 5px;
    font-size: 1.4em;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #5CB85C;
    color: #FFF;
    border-radius: 4px;
    max-width: 100%;
}

div.exercise_list .did_exercise_chkbx {
    float: right;
}
table {
    display: block;
    overflow: auto;
    height: 300px;
}
div.exercise_form {
    margin-top: 20px;
}

@media (min-width: 992px) {
    div.exercise_form {
        margin-top: 20px;
        margin-left: 20px;
    }
}

textarea.description_textarea {
    max-width: 360px;
    width: 360px; 
    max-height: 100px;
    height: 100px;
    resize: none;
}

.workout_textbox {
    max-width: 360px;
    width: 360px;
}

.drop_down {
    width: 200px;
    height: 25px;
}

#duration_text {
    min-width: 100px;
    width: 100px;
}

div.comments_partial {
    margin-top: 5%;
}

div.comment_header {
    margin: 10px;
    margin-top: 5px;
    padding: 5px;
    font-size: 1.4em;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #9a9a9a;
    color: #FFF;
    border-radius: 4px;
    max-width: 100%;
}
