div.search_inputs {
    width: 100%;
}
div.search_inputs > div {
    margin-top: 5px;
}

div.pagination_container {
    text-align: center;
}

table.workout_list {
    table-layout: fixed;
    height: 250px;
}

div.button_bar {
    margin: 10px 5px;
}
div.workout_prop {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.workout_label > h4 > span {
    margin-right: 20px;
}