body {
    padding-top: 50px;
    padding-bottom: 20px; 
    background-color: #eee;
    background-image: url(../Images/bg.jpg);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.gofit-button {
    transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out; /* Safari */
}

.footerBanner {
    background-color: #222;
    margin: 10px 0px;
    padding: 15px 15px;
    min-height: 50px;
    background-image: url(../Images/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    box-shadow: #000 5px 5px 3px;
    -webkit-box-shadow: #000 5px 5px 3px;
    -moz-box-shadow: #000 5px 5px 3px;
}

.gofit-header {
    background-color: #222;
    margin: 10px 0px;
    padding: 15px 15px;
    min-height: 75px;
    background-image: url(../Images/goFit_med.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.7s ease-out;
	-webkit-transition: all 0.7s ease-out; /* Safari */
    border-radius: 5px;
    box-shadow: #000 5px 5px 3px;
    -webkit-box-shadow: #000 5px 5px 3px;
    -moz-box-shadow: #000 5px 5px 3px;
}

.gofit-header:hover {
    background-image: url(../Images/goFit_med_lit.png);
}

.gofit-invis-link {
    display: block;
    width: 75px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.gofit-recommendation {
    padding: 30px 10px 30px 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 28px;
    text-align: center;
    font-size: 1.3em;
    background-color: #ddd;
}

.gofit-footer {
    text-align: center;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.btn-primary, .panel-primary > .panel-heading {
    background-color: #f2670a;
    border-color: #f22d0a;
}

.btn-link, a
 {
    color: #f2670a;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #f2670a;
  background-color: white;
  border-color: #f2670a;
}

.panel-primary {
  border-color: #f2670a;
}

a:hover,
a:focus {
  color: #f22d0a;
  text-decoration: underline;
}

.label-default {
  background-color: #f7b338;
}

.panel {
  background-color: #f9f9f9;
}

.gofit-form {
    margin: 15px;
    padding: 15px;
}

div.admin_prop {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.admin_label > h4 > span {
    margin-right: 20px;
}

div.admin_detail {
    margin-top: 20px;
}

@media (min-width: 992px) {
    div.admin_detail, 
    div.admin-form {
        margin-top: 20px;
        margin-left: 15px;
    }
}

div.admin_detail_header,
div.admin_well_header {
    margin: 10px;
    margin-top: 5px;
    padding: 5px;
    font-size: 1.4em;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #f2670a;
    color: #FFF;
    border-radius: 4px;
    max-width: 100%;
}

.admin_textbox {
    max-width: 460px;
    width: 100%;
}

div.warning {
    margin-top: 20px;
    margin-bottom: 0;
    color: red;
}

.catch-all-err-container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #FFF !important;
}