USE [master]
GO
/****** Object:  Database [gofitdb]    Script Date: 07/09/2015 13:21:49 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'gofitdb')
BEGIN
CREATE DATABASE [gofitdb] ON  PRIMARY 
( NAME = N'gofitdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\gofitdb.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'gofitdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\gofitdb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gofitdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gofitdb]
GO
/****** Object:  ForeignKey [exercise$fk_Exercise_Type1]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[exercise$fk_Exercise_Type1]') AND parent_object_id = OBJECT_ID(N'[dbo].[exercise]'))
ALTER TABLE [dbo].[exercise] DROP CONSTRAINT [exercise$fk_Exercise_Type1]
GO
/****** Object:  ForeignKey [exercise$fk_Exercise_User1]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[exercise$fk_Exercise_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[exercise]'))
ALTER TABLE [dbo].[exercise] DROP CONSTRAINT [exercise$fk_Exercise_User1]
GO
/****** Object:  ForeignKey [workout$fk_Workout_Category1]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout$fk_Workout_Category1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout]'))
ALTER TABLE [dbo].[workout] DROP CONSTRAINT [workout$fk_Workout_Category1]
GO
/****** Object:  ForeignKey [workout$fk_Workout_User1]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout$fk_Workout_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout]'))
ALTER TABLE [dbo].[workout] DROP CONSTRAINT [workout$fk_Workout_User1]
GO
/****** Object:  ForeignKey [workout_rating$fk_Workout_Rating_Workout1]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout_rating$fk_Workout_Rating_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout_rating]'))
ALTER TABLE [dbo].[workout_rating] DROP CONSTRAINT [workout_rating$fk_Workout_Rating_Workout1]
GO
/****** Object:  ForeignKey [workout_exercise$fk_Workout_has_Exercise_Exercise1]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout_exercise$fk_Workout_has_Exercise_Exercise1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout_exercise]'))
ALTER TABLE [dbo].[workout_exercise] DROP CONSTRAINT [workout_exercise$fk_Workout_has_Exercise_Exercise1]
GO
/****** Object:  ForeignKey [workout_exercise$fk_Workout_has_Exercise_Workout1]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout_exercise$fk_Workout_has_Exercise_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout_exercise]'))
ALTER TABLE [dbo].[workout_exercise] DROP CONSTRAINT [workout_exercise$fk_Workout_has_Exercise_Workout1]
GO
/****** Object:  ForeignKey [user_workout$fk_User_has_Workout_User1]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user_workout$fk_User_has_Workout_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user_workout]'))
ALTER TABLE [dbo].[user_workout] DROP CONSTRAINT [user_workout$fk_User_has_Workout_User1]
GO
/****** Object:  ForeignKey [user_workout$fk_User_has_Workout_Workout1]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user_workout$fk_User_has_Workout_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user_workout]'))
ALTER TABLE [dbo].[user_workout] DROP CONSTRAINT [user_workout$fk_User_has_Workout_Workout1]
GO
/****** Object:  ForeignKey [user_favorite_workout$fk_User_Favorite_Workout_User1]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user_favorite_workout$fk_User_Favorite_Workout_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user_favorite_workout]'))
ALTER TABLE [dbo].[user_favorite_workout] DROP CONSTRAINT [user_favorite_workout$fk_User_Favorite_Workout_User1]
GO
/****** Object:  ForeignKey [user_favorite_workout$fk_User_Favorite_Workout_Workout1]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user_favorite_workout$fk_User_Favorite_Workout_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user_favorite_workout]'))
ALTER TABLE [dbo].[user_favorite_workout] DROP CONSTRAINT [user_favorite_workout$fk_User_Favorite_Workout_Workout1]
GO
/****** Object:  ForeignKey [comment$fk_Comment_User1]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[comment$fk_Comment_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[comment]'))
ALTER TABLE [dbo].[comment] DROP CONSTRAINT [comment$fk_Comment_User1]
GO
/****** Object:  ForeignKey [comment$fk_Comment_Workout1]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[comment$fk_Comment_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[comment]'))
ALTER TABLE [dbo].[comment] DROP CONSTRAINT [comment$fk_Comment_Workout1]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[comment$fk_Comment_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[comment]'))
ALTER TABLE [dbo].[comment] DROP CONSTRAINT [comment$fk_Comment_User1]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[comment$fk_Comment_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[comment]'))
ALTER TABLE [dbo].[comment] DROP CONSTRAINT [comment$fk_Comment_Workout1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[comment]') AND type in (N'U'))
DROP TABLE [dbo].[comment]
GO
/****** Object:  Table [dbo].[user_favorite_workout]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user_favorite_workout$fk_User_Favorite_Workout_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user_favorite_workout]'))
ALTER TABLE [dbo].[user_favorite_workout] DROP CONSTRAINT [user_favorite_workout$fk_User_Favorite_Workout_User1]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user_favorite_workout$fk_User_Favorite_Workout_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user_favorite_workout]'))
ALTER TABLE [dbo].[user_favorite_workout] DROP CONSTRAINT [user_favorite_workout$fk_User_Favorite_Workout_Workout1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user_favorite_workout]') AND type in (N'U'))
DROP TABLE [dbo].[user_favorite_workout]
GO
/****** Object:  Table [dbo].[user_workout]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user_workout$fk_User_has_Workout_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user_workout]'))
ALTER TABLE [dbo].[user_workout] DROP CONSTRAINT [user_workout$fk_User_has_Workout_User1]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user_workout$fk_User_has_Workout_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user_workout]'))
ALTER TABLE [dbo].[user_workout] DROP CONSTRAINT [user_workout$fk_User_has_Workout_Workout1]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user_work__date___145C0A3F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user_workout] DROP CONSTRAINT [DF__user_work__date___145C0A3F]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user_work__date___15502E78]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user_workout] DROP CONSTRAINT [DF__user_work__date___15502E78]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user_workout]') AND type in (N'U'))
DROP TABLE [dbo].[user_workout]
GO
/****** Object:  Table [dbo].[workout_exercise]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout_exercise$fk_Workout_has_Exercise_Exercise1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout_exercise]'))
ALTER TABLE [dbo].[workout_exercise] DROP CONSTRAINT [workout_exercise$fk_Workout_has_Exercise_Exercise1]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout_exercise$fk_Workout_has_Exercise_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout_exercise]'))
ALTER TABLE [dbo].[workout_exercise] DROP CONSTRAINT [workout_exercise$fk_Workout_has_Exercise_Workout1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[workout_exercise]') AND type in (N'U'))
DROP TABLE [dbo].[workout_exercise]
GO
/****** Object:  Table [dbo].[workout_rating]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout_rating$fk_Workout_Rating_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout_rating]'))
ALTER TABLE [dbo].[workout_rating] DROP CONSTRAINT [workout_rating$fk_Workout_Rating_Workout1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[workout_rating]') AND type in (N'U'))
DROP TABLE [dbo].[workout_rating]
GO
/****** Object:  Table [dbo].[workout]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout$fk_Workout_Category1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout]'))
ALTER TABLE [dbo].[workout] DROP CONSTRAINT [workout$fk_Workout_Category1]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout$fk_Workout_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout]'))
ALTER TABLE [dbo].[workout] DROP CONSTRAINT [workout$fk_Workout_User1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[workout]') AND type in (N'U'))
DROP TABLE [dbo].[workout]
GO
/****** Object:  Table [dbo].[exercise]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[exercise$fk_Exercise_Type1]') AND parent_object_id = OBJECT_ID(N'[dbo].[exercise]'))
ALTER TABLE [dbo].[exercise] DROP CONSTRAINT [exercise$fk_Exercise_Type1]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[exercise$fk_Exercise_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[exercise]'))
ALTER TABLE [dbo].[exercise] DROP CONSTRAINT [exercise$fk_Exercise_User1]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__exercise__link__0BC6C43E]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[exercise] DROP CONSTRAINT [DF__exercise__link__0BC6C43E]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[exercise]') AND type in (N'U'))
DROP TABLE [dbo].[exercise]
GO
/****** Object:  Table [dbo].[type]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[type]') AND type in (N'U'))
DROP TABLE [dbo].[type]
GO
/****** Object:  Table [dbo].[user]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__fname__023D5A04]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] DROP CONSTRAINT [DF__user__fname__023D5A04]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__lname__03317E3D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] DROP CONSTRAINT [DF__user__lname__03317E3D]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__is_male__0425A276]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] DROP CONSTRAINT [DF__user__is_male__0425A276]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__is_admin__0519C6AF]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] DROP CONSTRAINT [DF__user__is_admin__0519C6AF]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__weight__060DEAE8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] DROP CONSTRAINT [DF__user__weight__060DEAE8]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__user__height__07020F21]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[user] DROP CONSTRAINT [DF__user__height__07020F21]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user]') AND type in (N'U'))
DROP TABLE [dbo].[user]
GO
/****** Object:  Table [dbo].[category]    Script Date: 07/09/2015 13:21:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[category]') AND type in (N'U'))
DROP TABLE [dbo].[category]
GO
/****** Object:  Table [dbo].[category]    Script Date: 07/09/2015 13:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[category]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](45) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_category_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'category', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'gofitdb.category' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'category'
GO
SET IDENTITY_INSERT [dbo].[category] ON
INSERT [dbo].[category] ([id], [name], [description]) VALUES (1, N'endurance', N'Endurance workouts help keep your heart, lungs, and circulatory system healthy.')
INSERT [dbo].[category] ([id], [name], [description]) VALUES (2, N'strength', N'Strength workouts build muscle size and power')
INSERT [dbo].[category] ([id], [name], [description]) VALUES (3, N'flexibility', N'Flexibility workouts stretch your muscles and help protect you body from exercise incurred injuries')
SET IDENTITY_INSERT [dbo].[category] OFF
/****** Object:  Table [dbo].[user]    Script Date: 07/09/2015 13:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](45) NOT NULL,
	[password] [nvarchar](200) NOT NULL,
	[fname] [nvarchar](45) NULL DEFAULT (NULL),
	[lname] [nvarchar](45) NULL DEFAULT (NULL),
	[is_male] [smallint] NULL DEFAULT (NULL),
	[is_admin] [smallint] NOT NULL DEFAULT ((0)),
	[weight] [int] NULL DEFAULT (NULL),
	[height] [decimal](3, 1) NULL DEFAULT (NULL),
	[timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_user_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [user$username_UNIQUE] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'user', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'gofitdb.`user`' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user'
GO
SET IDENTITY_INSERT [dbo].[user] ON
INSERT [dbo].[user] ([id], [username], [password], [fname], [lname], [is_male], [is_admin], [weight], [height]) VALUES (1, N'admin', N'3c1c88f0b0fec9b5f539c3d6b0577bd138bd157d604125a53e60e35cf940a5fe', N'Bob', N'Jones', 1, 1, NULL, NULL)
INSERT [dbo].[user] ([id], [username], [password], [fname], [lname], [is_male], [is_admin], [weight], [height]) VALUES (2, N'admin2', N'cf312ac87c1b48968a08cb1b2809a5d0223668ad334ac322ca7f7ab3bce08929', N'Jane', N'Forsythe', 0, 1, NULL, NULL)
INSERT [dbo].[user] ([id], [username], [password], [fname], [lname], [is_male], [is_admin], [weight], [height]) VALUES (3, N'hunts', N'5faf9c3e4b1fe468cb6fc9e7cc3bd1eb93f3cad399d45e9a358a14c2c7b483d6', N'Sharon', N'Hunt', 0, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[user] OFF
/****** Object:  Table [dbo].[type]    Script Date: 07/09/2015 13:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[type]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](45) NOT NULL,
	[measure] [nvarchar](45) NOT NULL,
	[timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_type_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'type', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'gofitdb.type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'type'
GO
SET IDENTITY_INSERT [dbo].[type] ON
INSERT [dbo].[type] ([id], [name], [measure]) VALUES (1, N'distance', N'miles')
INSERT [dbo].[type] ([id], [name], [measure]) VALUES (2, N'quantity', N'unit')
INSERT [dbo].[type] ([id], [name], [measure]) VALUES (3, N'duration', N'seconds')
SET IDENTITY_INSERT [dbo].[type] OFF
/****** Object:  Table [dbo].[exercise]    Script Date: 07/09/2015 13:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[exercise]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[exercise](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_id] [int] NOT NULL,
	[created_by_user_id] [int] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[link] [nvarchar](255) NULL DEFAULT (NULL),
	[description] [nvarchar](max) NULL,
	[timestamp] [timestamp] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_exercise_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[exercise]') AND name = N'fk_Exercise_Type1_idx')
CREATE NONCLUSTERED INDEX [fk_Exercise_Type1_idx] ON [dbo].[exercise] 
(
	[type_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[exercise]') AND name = N'fk_Exercise_User1_idx')
CREATE NONCLUSTERED INDEX [fk_Exercise_User1_idx] ON [dbo].[exercise] 
(
	[created_by_user_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'exercise', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'gofitdb.exercise' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'exercise'
GO
SET IDENTITY_INSERT [dbo].[exercise] ON
INSERT [dbo].[exercise] ([id], [type_id], [created_by_user_id], [created_at], [link], [description], [name]) VALUES (1, 2, 1, CAST(0x0001BB002B3A0B0000 AS DateTime2), N'https://www.youtube.com/watch?v=bJ3Ogh5mFE4', N'Standard push-ups', N'Standard Push-ups')
INSERT [dbo].[exercise] ([id], [type_id], [created_by_user_id], [created_at], [link], [description], [name]) VALUES (2, 2, 1, CAST(0x0001BB002B3A0B0000 AS DateTime2), N'https://www.youtube.com/watch?v=pUJnPMjYLxU', N'An easier variation of the standard push-up', N'Knee Down Push-ups')
INSERT [dbo].[exercise] ([id], [type_id], [created_by_user_id], [created_at], [link], [description], [name]) VALUES (3, 2, 1, CAST(0x0001BB002B3A0B0000 AS DateTime2), N'https://www.youtube.com/watch?v=Ir8IrbYcM8w', N'Pull-ups', N'Pull-ups')
SET IDENTITY_INSERT [dbo].[exercise] OFF
/****** Object:  Table [dbo].[workout]    Script Date: 07/09/2015 13:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[workout]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[workout](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](45) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[category_id] [int] NOT NULL,
	[created_by_user_id] [int] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_workout_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[workout]') AND name = N'fk_Workout_Category1_idx')
CREATE NONCLUSTERED INDEX [fk_Workout_Category1_idx] ON [dbo].[workout] 
(
	[category_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[workout]') AND name = N'fk_Workout_User1_idx')
CREATE NONCLUSTERED INDEX [fk_Workout_User1_idx] ON [dbo].[workout] 
(
	[created_by_user_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'workout', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'gofitdb.workout' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'workout'
GO
SET IDENTITY_INSERT [dbo].[workout] ON
INSERT [dbo].[workout] ([id], [name], [description], [category_id], [created_by_user_id], [created_at]) VALUES (1, N'Upper Body Builder 1', N'Works out your back and chest', 2, 1, CAST(0x002FBB002B3A0B0000 AS DateTime2))
INSERT [dbo].[workout] ([id], [name], [description], [category_id], [created_by_user_id], [created_at]) VALUES (2, N'Leg Workout 1', N'Works out your legs and lower back', 2, 1, CAST(0x002FBB002B3A0B0000 AS DateTime2))
INSERT [dbo].[workout] ([id], [name], [description], [category_id], [created_by_user_id], [created_at]) VALUES (3, N'Running Core Workout', N'Build endurance and core strength', 1, 1, CAST(0x002FBB002B3A0B0000 AS DateTime2))
SET IDENTITY_INSERT [dbo].[workout] OFF
/****** Object:  Table [dbo].[workout_rating]    Script Date: 07/09/2015 13:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[workout_rating]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[workout_rating](
	[workout_id] [int] NOT NULL,
	[average_rating] [decimal](3, 1) NOT NULL,
	[times_rated] [int] NOT NULL,
 CONSTRAINT [PK_workout_rating_workout_id] PRIMARY KEY CLUSTERED 
(
	[workout_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'workout_rating', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'gofitdb.workout_rating' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'workout_rating'
GO
/****** Object:  Table [dbo].[workout_exercise]    Script Date: 07/09/2015 13:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[workout_exercise]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[workout_exercise](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[workout_id] [int] NOT NULL,
	[exercise_id] [int] NOT NULL,
	[position] [int] NOT NULL,
	[duration] [decimal](5, 2) NOT NULL,
	[timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_workout_exercise_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[workout_exercise]') AND name = N'fk_Workout_has_Exercise_Exercise1_idx')
CREATE NONCLUSTERED INDEX [fk_Workout_has_Exercise_Exercise1_idx] ON [dbo].[workout_exercise] 
(
	[exercise_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[workout_exercise]') AND name = N'fk_Workout_has_Exercise_Workout1_idx')
CREATE NONCLUSTERED INDEX [fk_Workout_has_Exercise_Workout1_idx] ON [dbo].[workout_exercise] 
(
	[workout_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'workout_exercise', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'gofitdb.workout_exercise' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'workout_exercise'
GO
SET IDENTITY_INSERT [dbo].[workout_exercise] ON
INSERT [dbo].[workout_exercise] ([id], [workout_id], [exercise_id], [position], [duration]) VALUES (1, 1, 2, 1, CAST(20.00 AS Decimal(5, 2)))
INSERT [dbo].[workout_exercise] ([id], [workout_id], [exercise_id], [position], [duration]) VALUES (2, 1, 1, 2, CAST(20.00 AS Decimal(5, 2)))
INSERT [dbo].[workout_exercise] ([id], [workout_id], [exercise_id], [position], [duration]) VALUES (3, 1, 3, 3, CAST(10.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[workout_exercise] OFF
/****** Object:  Table [dbo].[user_workout]    Script Date: 07/09/2015 13:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user_workout]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[user_workout](
	[id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[workout_id] [int] NOT NULL,
	[number_of_ex_completed] [int] NOT NULL,
	[date_started] [date] NULL DEFAULT (NULL),
	[date_finished] [date] NULL DEFAULT (NULL),
	[timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_user_workout_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[user_workout]') AND name = N'fk_User_has_Workout_User1_idx')
CREATE NONCLUSTERED INDEX [fk_User_has_Workout_User1_idx] ON [dbo].[user_workout] 
(
	[user_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[user_workout]') AND name = N'fk_User_has_Workout_Workout1_idx')
CREATE NONCLUSTERED INDEX [fk_User_has_Workout_Workout1_idx] ON [dbo].[user_workout] 
(
	[workout_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'user_workout', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'gofitdb.user_workout' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user_workout'
GO
/****** Object:  Table [dbo].[user_favorite_workout]    Script Date: 07/09/2015 13:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user_favorite_workout]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[user_favorite_workout](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[workout_id] [int] NOT NULL,
	[timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_user_favorite_workout_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [user_favorite_workout$uq_User_Workout_idx] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[workout_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[user_favorite_workout]') AND name = N'fk_User_Favorite_Workout_User1_idx')
CREATE NONCLUSTERED INDEX [fk_User_Favorite_Workout_User1_idx] ON [dbo].[user_favorite_workout] 
(
	[user_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[user_favorite_workout]') AND name = N'fk_User_Favorite_Workout_Workout1_idx')
CREATE NONCLUSTERED INDEX [fk_User_Favorite_Workout_Workout1_idx] ON [dbo].[user_favorite_workout] 
(
	[workout_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'user_favorite_workout', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'gofitdb.user_favorite_workout' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user_favorite_workout'
GO
/****** Object:  Table [dbo].[comment]    Script Date: 07/09/2015 13:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[comment]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[comment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[timestamp] [timestamp] NOT NULL,
	[User_id] [int] NOT NULL,
	[Workout_id] [int] NOT NULL,
	[date_created] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_comment_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[comment]') AND name = N'fk_Comment_User1_idx')
CREATE NONCLUSTERED INDEX [fk_Comment_User1_idx] ON [dbo].[comment] 
(
	[User_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[comment]') AND name = N'fk_Comment_Workout1_idx')
CREATE NONCLUSTERED INDEX [fk_Comment_Workout1_idx] ON [dbo].[comment] 
(
	[Workout_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_SSMA_SOURCE' , N'SCHEMA',N'dbo', N'TABLE',N'comment', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'gofitdb.comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'comment'
GO
SET IDENTITY_INSERT [dbo].[comment] ON
INSERT [dbo].[comment] ([id], [message], [User_id], [Workout_id], [date_created]) VALUES (1, N'I found this workout effective. I would recommend it to a beginner.', 4, 1, CAST(0x0082B900133A0B0000 AS DateTime2))
INSERT [dbo].[comment] ([id], [message], [User_id], [Workout_id], [date_created]) VALUES (2, N'Was very challenging for me but effective. I loved it.', 5, 2, CAST(0x0018BB00133A0B0000 AS DateTime2))
INSERT [dbo].[comment] ([id], [message], [User_id], [Workout_id], [date_created]) VALUES (3, N'Please, post more workouts like this.', 3, 3, CAST(0x006C0201133A0B0000 AS DateTime2))
SET IDENTITY_INSERT [dbo].[comment] OFF
/****** Object:  ForeignKey [exercise$fk_Exercise_Type1]    Script Date: 07/09/2015 13:21:50 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[exercise$fk_Exercise_Type1]') AND parent_object_id = OBJECT_ID(N'[dbo].[exercise]'))
ALTER TABLE [dbo].[exercise]  WITH CHECK ADD  CONSTRAINT [exercise$fk_Exercise_Type1] FOREIGN KEY([type_id])
REFERENCES [dbo].[type] ([id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[exercise$fk_Exercise_Type1]') AND parent_object_id = OBJECT_ID(N'[dbo].[exercise]'))
ALTER TABLE [dbo].[exercise] CHECK CONSTRAINT [exercise$fk_Exercise_Type1]
GO
/****** Object:  ForeignKey [exercise$fk_Exercise_User1]    Script Date: 07/09/2015 13:21:50 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[exercise$fk_Exercise_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[exercise]'))
ALTER TABLE [dbo].[exercise]  WITH CHECK ADD  CONSTRAINT [exercise$fk_Exercise_User1] FOREIGN KEY([created_by_user_id])
REFERENCES [dbo].[user] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[exercise$fk_Exercise_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[exercise]'))
ALTER TABLE [dbo].[exercise] CHECK CONSTRAINT [exercise$fk_Exercise_User1]
GO
/****** Object:  ForeignKey [workout$fk_Workout_Category1]    Script Date: 07/09/2015 13:21:50 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout$fk_Workout_Category1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout]'))
ALTER TABLE [dbo].[workout]  WITH CHECK ADD  CONSTRAINT [workout$fk_Workout_Category1] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout$fk_Workout_Category1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout]'))
ALTER TABLE [dbo].[workout] CHECK CONSTRAINT [workout$fk_Workout_Category1]
GO
/****** Object:  ForeignKey [workout$fk_Workout_User1]    Script Date: 07/09/2015 13:21:50 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout$fk_Workout_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout]'))
ALTER TABLE [dbo].[workout]  WITH CHECK ADD  CONSTRAINT [workout$fk_Workout_User1] FOREIGN KEY([created_by_user_id])
REFERENCES [dbo].[user] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout$fk_Workout_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout]'))
ALTER TABLE [dbo].[workout] CHECK CONSTRAINT [workout$fk_Workout_User1]
GO
/****** Object:  ForeignKey [workout_rating$fk_Workout_Rating_Workout1]    Script Date: 07/09/2015 13:21:50 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout_rating$fk_Workout_Rating_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout_rating]'))
ALTER TABLE [dbo].[workout_rating]  WITH CHECK ADD  CONSTRAINT [workout_rating$fk_Workout_Rating_Workout1] FOREIGN KEY([workout_id])
REFERENCES [dbo].[workout] ([id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout_rating$fk_Workout_Rating_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout_rating]'))
ALTER TABLE [dbo].[workout_rating] CHECK CONSTRAINT [workout_rating$fk_Workout_Rating_Workout1]
GO
/****** Object:  ForeignKey [workout_exercise$fk_Workout_has_Exercise_Exercise1]    Script Date: 07/09/2015 13:21:50 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout_exercise$fk_Workout_has_Exercise_Exercise1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout_exercise]'))
ALTER TABLE [dbo].[workout_exercise]  WITH CHECK ADD  CONSTRAINT [workout_exercise$fk_Workout_has_Exercise_Exercise1] FOREIGN KEY([exercise_id])
REFERENCES [dbo].[exercise] ([id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout_exercise$fk_Workout_has_Exercise_Exercise1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout_exercise]'))
ALTER TABLE [dbo].[workout_exercise] CHECK CONSTRAINT [workout_exercise$fk_Workout_has_Exercise_Exercise1]
GO
/****** Object:  ForeignKey [workout_exercise$fk_Workout_has_Exercise_Workout1]    Script Date: 07/09/2015 13:21:50 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout_exercise$fk_Workout_has_Exercise_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout_exercise]'))
ALTER TABLE [dbo].[workout_exercise]  WITH CHECK ADD  CONSTRAINT [workout_exercise$fk_Workout_has_Exercise_Workout1] FOREIGN KEY([workout_id])
REFERENCES [dbo].[workout] ([id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[workout_exercise$fk_Workout_has_Exercise_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[workout_exercise]'))
ALTER TABLE [dbo].[workout_exercise] CHECK CONSTRAINT [workout_exercise$fk_Workout_has_Exercise_Workout1]
GO
/****** Object:  ForeignKey [user_workout$fk_User_has_Workout_User1]    Script Date: 07/09/2015 13:21:50 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user_workout$fk_User_has_Workout_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user_workout]'))
ALTER TABLE [dbo].[user_workout]  WITH CHECK ADD  CONSTRAINT [user_workout$fk_User_has_Workout_User1] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user_workout$fk_User_has_Workout_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user_workout]'))
ALTER TABLE [dbo].[user_workout] CHECK CONSTRAINT [user_workout$fk_User_has_Workout_User1]
GO
/****** Object:  ForeignKey [user_workout$fk_User_has_Workout_Workout1]    Script Date: 07/09/2015 13:21:50 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user_workout$fk_User_has_Workout_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user_workout]'))
ALTER TABLE [dbo].[user_workout]  WITH CHECK ADD  CONSTRAINT [user_workout$fk_User_has_Workout_Workout1] FOREIGN KEY([workout_id])
REFERENCES [dbo].[workout] ([id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user_workout$fk_User_has_Workout_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user_workout]'))
ALTER TABLE [dbo].[user_workout] CHECK CONSTRAINT [user_workout$fk_User_has_Workout_Workout1]
GO
/****** Object:  ForeignKey [user_favorite_workout$fk_User_Favorite_Workout_User1]    Script Date: 07/09/2015 13:21:50 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user_favorite_workout$fk_User_Favorite_Workout_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user_favorite_workout]'))
ALTER TABLE [dbo].[user_favorite_workout]  WITH CHECK ADD  CONSTRAINT [user_favorite_workout$fk_User_Favorite_Workout_User1] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user_favorite_workout$fk_User_Favorite_Workout_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user_favorite_workout]'))
ALTER TABLE [dbo].[user_favorite_workout] CHECK CONSTRAINT [user_favorite_workout$fk_User_Favorite_Workout_User1]
GO
/****** Object:  ForeignKey [user_favorite_workout$fk_User_Favorite_Workout_Workout1]    Script Date: 07/09/2015 13:21:50 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user_favorite_workout$fk_User_Favorite_Workout_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user_favorite_workout]'))
ALTER TABLE [dbo].[user_favorite_workout]  WITH CHECK ADD  CONSTRAINT [user_favorite_workout$fk_User_Favorite_Workout_Workout1] FOREIGN KEY([workout_id])
REFERENCES [dbo].[workout] ([id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[user_favorite_workout$fk_User_Favorite_Workout_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[user_favorite_workout]'))
ALTER TABLE [dbo].[user_favorite_workout] CHECK CONSTRAINT [user_favorite_workout$fk_User_Favorite_Workout_Workout1]
GO
/****** Object:  ForeignKey [comment$fk_Comment_User1]    Script Date: 07/09/2015 13:21:50 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[comment$fk_Comment_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[comment]'))
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [comment$fk_Comment_User1] FOREIGN KEY([User_id])
REFERENCES [dbo].[user] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[comment$fk_Comment_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[comment]'))
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [comment$fk_Comment_User1]
GO
/****** Object:  ForeignKey [comment$fk_Comment_Workout1]    Script Date: 07/09/2015 13:21:50 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[comment$fk_Comment_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[comment]'))
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [comment$fk_Comment_Workout1] FOREIGN KEY([Workout_id])
REFERENCES [dbo].[workout] ([id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[comment$fk_Comment_Workout1]') AND parent_object_id = OBJECT_ID(N'[dbo].[comment]'))
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [comment$fk_Comment_Workout1]
GO
